<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard Page</title>
    <link rel="stylesheet" href="css/home.css">
    
</head>
<body>
    <div class="container">
        <h1>Hai <span> <%= username %> </span> , Ini adalah Home Page Challenge CH5</h1>
        <div class="content">
            <div class="main-content">
                <p>Untuk membuka halaman Tugas Challenge CH 3 kamu bisa menekan tombol di bawah ini.</p>
                <a class="icon" href="/landing">landing</a>
            </div>
            <div class="main-content">
                <p>Untuk membuka halaman Tugas Challenge CH 4 kamu bisa menekan tombol di bawah ini.</p>
                <a class="icon" href="/games">games</a>
            </div>
        </div>
        <form action="/logout" method="post">
            <input class="logout" type="submit" value="logout">
        </form>
    </div>
</body>
</html>