<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <title>ROCK PAPER SCISSORS</title>
    <link rel="stylesheet" href="/css/style-game.css">
    <link rel="stylesheet" href="/css/res-game.css">
    <link rel="shortcut icon" href="assets/logo 1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <section class="game">
        <header class="px-3">
            <div class="container-fluid d-flex align-items-center">
                <a class="btn-back me-4 fw-bold" href="/landing">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
                <img class="logo me-4" src="/assets/logo 1.png">
                <h1 class="title-game fw-bold">ROCK PAPER SCISSORS</h1>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-3 d-grid text-center gap-3">
                        <h1 class="player">PLAYER 1</h1>
                        <div class="img-core d-grid justify-content-center gap-3">
                            <img class="selection player-1" onclick="startGame('✊')" src="/assets/batu.png">
                            <img class="selection player-1" onclick="startGame('🖐')" src="/assets/kertas.png">
                            <img class="selection player-1" onclick="startGame('✌')" src="/assets/gunting.png">
                        </div>
                    </div>
                    <div class="col-3 d-grid my-auto justify-content-center text-center">
                        <h1 class="versus">VS</h1> 
                        <div class="box-result d-none text-center">
                            <h3 id="result"></h3>
                        </div>
                    </div>
                    <div class="col-3 d-grid text-center gap-3">
                        <h1 class="player">COM</h1>
                        <div class="img-core d-grid justify-content-center gap-3">
                            <img class="selection comp" src="/assets/batu.png">
                            <img class="selection comp" src="/assets/kertas.png">
                            <img class="selection comp" src="/assets/gunting.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <img onclick="refresh()" title="klik untuk memulai kembali" id="reload" class="refresh-btn" src="/assets/refresh.png">
                    </div>
                </div>
            </div>
        </main>
    </section>
    <script src="/js/main-game.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>