<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRADITIONAL GAME</title>
    <!-- CDN CSS BS5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- CDN FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ICON -->
    <link rel="shortcut icon" href="assets/icon.ico" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <!-- PAGE 1 -->
    <div class="main-screen">
        <!-- NAVBAR -->
        <nav class="navbar navbar-dark navbar-expand-lg position-fixed py-3 w-100" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="container">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LOGO</h5>
                    <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item mx-2"> 
                                <a class="nav-link link" href="/dashboard">HOME</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link link" href="http://rnlfzi.repl.co">WORK</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link link" href="http://rnlfzi.repl.co">CONTACT</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link link" href="http://rnlfzi.repl.co">ABOUT ME</a>
                            </li>
                        </ul>
                        <div>
                            <ul class="navbar-nav">
                                <li class="nav-item mx-2">
                                    <a class="nav-link link" href="#">SIGN UP</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <form action="/logout" method="post">
                                        <button type="submit" class="nav-link link logout" >LOGOUT</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- NAVBAR END -->
        <!-- SECTION HERO -->
        <section class="hero">
            <div class="container text-center h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-md-10 hero-tagline">
                        <h1>PLAY TRADITIONAL GAME</h1>
                        <h3>Experience new traditional game play</h3>
                        <form action="/games">
                            <button class="btn btn-warning fw-bold">
                                PLAY NOW
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="position-absolute bottom-0 start-50 translate-middle-x">
                <div class="btn-scroll my-5">
                    <a href="#PAGE2" class="d-grid">
                        THE STORY
                        <img class="mx-auto" style="width: 20px" src="assets/scroll-down.svg" alt="scroll-down">
                    </a>
                </div>
            </div>
        </section>
    </div>
    <!-- PAGE 1 END -->
    <!-- PAGE 2 -->
    <div class="about-gallery" id="PAGE2">
        <div class="container h-100">
            <div class="row h-100">
                <div class="content d-flex my-auto">
                    <div class="tagline">
                        <h3>What's so special?</h3>
                        <h1>THE GAMES</h1>
                    </div>
                    <div class="slider d-flex">
                        <img class="arrow" onclick="plusSlides(-1)" src="assets/switch-left.svg" alt="">
                        <img class="m-1 img-slider effect" src="assets/rockpaperstrategy-1600.jpg" alt="">
                        <img class="m-1 img-slider effect" src="assets/TheForest.jpg" alt="">
                        <img class="m-1 img-slider effect" src="assets/TheForestScreenshot_05.jpg" alt="">
                        <img class="arrow" onclick="plusSlides(1)" src="assets/switch-right.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE 2 END -->
    <!-- PAGE 3 -->
    <div class="features" id="PAGE3">
        <div class="container h-100">
            <div class="row h-100 justify-content-end">
                <div class="col-sm-9 col-md-6 my-auto main-content">
                    <div class="tagline wrap-features">
                        <h3>What’s so special?</h3>
                        <h1>FEATURES</h1>
                    </div>
                    <ul class="container-progress">
                        <li class="tagline content-features">
                            <h3>TRADITIONAL GAMES</h3>
                            <p class="text-justify">If you miss your childhood, we provide<br>many traditional games here</p>
                        </li> 
                        <li class="tagline content-features">
                            <h3>GAME SUIT</h3>
                            <p class="text-justify">If you miss your childhood, we provide<br>many traditional games here</p>
                        </li> 
                        <li class="tagline content-features">
                            <h3>TBD</h3>
                            <p class="text-justify">If you miss your childhood, we provide<br>many traditional games here</p>
                        </li>
                    </ul>     
                </div>   
            </div>
        </div>
    </div>
    <!-- PAGE 3 END -->
    <!-- PAGE 4 -->
    <div class="system-req" id="PAGE4">
        <div class="container h-100">
            <div class="row h-100">
                <div class="my-auto">
                    <div class="content-req col-12 text-center">
                        <h3>Can my computer this game?</h3>
                    </div>
                    <div class="content-req col-6 mb-5">
                        <h1>SYSTEM<br>REQUIREMENTS</h1>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="specs col-6 col-md-3">
                                <h3>OS:</h3>
                                <p>Windows 7 64-bit only<br>(No OSX support at this time)</p>
                            </div>
                            <div class="specs col-6 col-md-3">
                                <h3>PROCECOR:</h3>
                                <p>Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHZ</p>
                            </div>
                        
                            <div class="w-100"></div>
        
                            <div class="specs col-6 col-md-3">
                                <h3>MEMORY:</h3>
                                <p>4 GB RAM</p>
                            </div>
                            <div class="specs col-6 col-md-3">
                                <h3>STORAGE:</h3>
                                <p>8 GB available space</p>
                            </div>
    
                            <div class="w-100"></div>
    
                            <div class="specs col-12 col-md-6">
                                <h3>GRAPHICS:</h3>
                                <p>NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE 4 END -->
    <!-- PAGE 5 -->
    <div class="press-quotes" id="PAGE5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 col-lg-6 my-auto">
                    <div class="heading">
                        <h1>TOP SCORES</h1>
                        <p>This top score from various games provided<br>on this platform</p>
                        <button class="btn btn-warning fw-bold">see more</button>
                    </div>
                </div>
                <div class="col-12 col-lg-6 my-auto">
                    <div class="card-quotes mb-3">
                        <ul class="wrapper d-flex">
                            <li>
                                <img class="avatar" src="assets/evan-lahti.jpg" alt="">
                            </li>
                            <li class="me-auto mt-3">
                                <h4>Evan Lahti</h4>
                                <p>PC Gamer</p>
                            </li>
                            <li>
                                <i class="fa-brands fa-twitter"></i>
                            </li>
                        </ul>
                        <blockquote class="text-white">“One of my gaming highlights of the year.”</blockquote>
                        <p>June 18, 2021</p>
                    </div>
                    <div class="card-quotes mb-3">
                        <ul class="wrapper d-flex">
                            <li>
                                <img class="avatar" src="assets/jada-griffin.jpg" alt="">
                            </li>
                            <li class="me-auto mt-3">
                                <h4>Jada Griffin</h4>
                                <p>Nerdreactor</p>
                            </li>
                            <li>
                                <i class="fa-brands fa-twitter"></i>
                            </li>
                        </ul>
                        <blockquote class="text-white">“The next big thing in the world of streaming and survival games.”</blockquote>
                        <p>July 10, 2021</p>
                    </div>
                    <div class="card-quotes mb-3">
                        <ul class="wrapper d-flex">
                            <li>
                                <img class="avatar" src="assets/aaron-williams.jpg" alt="">
                            </li>
                            <li class="me-auto mt-3">
                                <div class="d-grid">
                                    <h4>Aaron Williams</h4>
                                    <p>Uproxx</p>
                                </div>
                            </li>
                            <li>
                                <i class="fa-brands fa-twitter"></i>
                            </li>
                        </ul>
                        <blockquote class="text-white">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</blockquote>
                        <p>December 24, 2018</p>
                    </div>
                </div>             
            </div>
        </div>
    </div>
    <!-- PAGE 5 END -->
    <!-- PAGE 6 -->
    <div class="footer">
        <div class="container h-100">
            <div class="row h-100 ">
                <div class="col-5 d-none d-md-flex">
                    <div class="skull-img mx-auto">
                    </div>   
                </div>
                <div class="heading-footer col-md-7 my-auto">
                    <h3>Want to stay in <br>touch?</h3>
                    <h1>NEWSLATTER<br>SUBSCRIBE</h1>
                    <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                    <div class="d-flex">
                        <div class="form-email my-auto">
                            <label for="exampleFormControlInput1" class="form-label">Your email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="youremail@binar.co.id">
                        </div>
                        <form class="form-floating my-auto">
                            <input type="email" class="form-control" id="floatingInputValue" placeholder="youremail@binar.co.id" value="youremail@binar.co.id">
                            <label for="floatingInputValue">Your email address</label>
                        </form>
                        <button type="button" class="btn btn-warning fw-bold">Subscribe now</button>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-end">
                <div class="col-12 col-md-10">
                    <div class="main-foot d-flex justify-content-end">
                        <ul class="menu-footer navbar-nav d-flex flex-row">
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="#">MAIN</a>
                            </li>
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="#PAGE2">ABOUT</a>
                            </li>
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="#PAGE3">GAME FEATURES</a>
                            </li>
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="#PAGE4">SYSTEM REQUIREMENTS</a>
                            </li>
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="#PAGE5">QUOTES</a>
                            </li>
                        </ul>
                        <ul class="menu-footer navbar-nav d-flex flex-row">
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            </li>
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                            </li>
                            <li class="nav-item footer-item">
                                <a class="nav-link" href="https://www.twitch.tv/"><i class="fa-brands fa-twitch"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="border-top mt-3 pt-2">
                    <ul class="menu-footer navbar-nav d-flex">
                        <li class="foot-item nav-item me-auto">
                            <a class="nav-link privacy" href=""> © 2018 Your Games, Inc. All Rights Reserved </a>
                        </li>
                        <li class="foot-item nav-item">
                            <a class="nav-link border-end" href="">PRIVACY POLICY </a>
                        </li>
                        <li class="foot-item nav-item">
                            <a class="nav-link border-end" href="">TERMS OF SERVICE </a>
                        </li>
                        <li class="foot-item nav-item">
                            <a class="nav-link" href="">CODE OF CONDUCT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE 6 END -->
    <!-- SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>
