* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
}

.container {
    width: 700px;
    margin: 100px auto;
    box-shadow: none;
}

h1 {
    background-color: #feaf04;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 7px 11px 0px rgba(255, 167, 44, 0.5);
    -webkit-box-shadow: 0px 7px 11px 0px rgba(255, 167, 44, 0.5);
    -moz-box-shadow: 0px 7px 11px 0px rgba(255, 167, 44, 0.5);
    margin-bottom: 15px;
}

.content {
    display: flex;
    justify-content: center;
}

.main-content {
    background-color: rgb(233, 233, 233);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 7px 11px 0px rgba(0,0,0,0.19);
}

.main-content p {
    margin-bottom: 20px;
}

span {
    padding: 1px 5px;
    border-radius: 3px;
    color: black;
}

.icon {
    margin: 0px auto;
    font-size: 15px;
    width: 100px;
    background-color: #feaf04;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}

.logout {
    width: 100px;
    padding: 5px 15px;
    background-color: tomato;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 90%;
    box-shadow: 0px 7px 11px 0px rgba(255, 99, 71, 0.5);
    -webkit-box-shadow: 0px 7px 11px 0px rgba(255, 99, 71, 0.5);
    -moz-box-shadow: 0px 7px 11px 0px rgba(255, 99, 71, 0.5);
}
