@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #fff;
    --scnd-color: #FFB548;
    --btn-font-color: #1A1917;

    --mainFont: 'Open Sans', sans-serif;
}

body {
    font-family: var(--mainFont);
}

.main-screen {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url("../assets/main-bg.jpg");
}

/* PAGE 1 MAIN SCREEN */
/* NAVBAR */

.navbar-brand {
    color: var(--main-color);
    width: 150px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.1em;
}

.navbar-brand:hover {
    color: var(--scnd-color);
}

.link {
    color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.link:hover {
    color: var(--scnd-color);
}

/* HERO SECTION */

.hero-tagline {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

.hero-tagline h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    letter-spacing: 3px;
    margin-top: 20%;
    margin-bottom: 25px;
}

.hero-tagline h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 30px;
}

.btn-scroll a {
    color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.btn-scroll a:hover {
    font-size: 13px;
}

.logout {
    background-color: transparent;
    border: none;
}

/* PAGE 2 ABOUT + GALERY */
.about-gallery {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: radial-gradient(136.03% 54.57% at 50% 55.15%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1.63%, #080A0B 99.74%), url(../assets/the-games-bg.jpg);
}

.tagline {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

.tagline h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.tagline h1 {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
}

.slider {
    margin-top: 25px;
    align-items: center;
}

.img-slider {
    height: 420px;
    display: none;
}

.img-slider:hover {
    box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
}

.arrow {
    cursor: pointer;
}

.effect {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

/* PAGE 3 FEATURES */
.features {
    height: 100vh;
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url('../assets/features.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content {
    color: var(--main-color);
    padding-left: 50px;
}

.wrap-features {
    margin-bottom: 60px;
}

.content-features {
    padding-left: 30px;
}

.content-features h3 {
    color: var(--scnd-color);
}

.tagline p {
    font-family: var(--mainFont);
    font-family: 18px;
    line-height: 22px;
    font-weight: 300;
}

.container-progress:before {
    content: '';
    margin-top: 15px;
    width: .5px;
    height: 13%;
    background: white;
    left: 54.5%;
    position: absolute;
}

/* PAGE 4 SYSTEM REQ */
.system-req {
    height: 100vh;
    background-image: radial-gradient(36.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 15.36%, rgba(0, 0, 0, 0) 56.22%, #080A0B 99.74%), url('../assets/requirements.png') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--main-color);
}

.content-req h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.content-req h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 30px;
}

.specs {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.247);
}

.specs h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--scnd-color);
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* PAGE 5 PRESS-QUOTES */
.press-quotes  {
    height: 100vh;
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url('../assets/top-score-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading h1 {
    color: var(--main-color);
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 10px;
}

.heading p {
    font-family: var(--mainFont);
    color: var(--main-color);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 10px;
}

.btn-warning {
    font-family: var(--mainFont);
    margin: 10px;
    height: 60px;
    width: 260px;
}

.btn-warning:hover {
    box-shadow: 0px 0px 3px 2px rgb(162, 162, 162);
    -webkit-box-shadow: 0px 0px 3px 2px rgb(162, 162, 162);
    -moz-box-shadow: 0px 0px 3px 2px rgb(162, 162, 162);
}

.btn-see a {
    color: var(--btn-font-color);
    text-decoration: none;
}

.wrapper {
    padding: 0;
}

.card-quotes {
    background-color: rgba(255, 255, 255, 0.085);
    border-radius: 10px;
    width: 400px;
    height: 200px;
    padding: 15px;
}

.card-quotes:hover {
    box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
}

.card-quotes ul li {
    list-style: none;
}

.avatar {
    width: 63px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 10px 5px 0px 1px rgba(255,181,72,1);
    -webkit-box-shadow: 10px 5px 0px 1px rgba(255,181,72,1);
    -moz-box-shadow: 10px 5px 0px 1px rgba(255,181,72,1);
}

.card-quotes ul li h4 {
    color: #d8932c;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 5px;
}

.card-quotes ul li p, i {
    color:rgb(150, 150, 150);
}

.card-quotes p {
    color:rgb(150, 150, 150);
    font-size: 12px;
    font-weight: 400;
}

/* FOOTER */
.footer {
    padding: 50px;
    background-color: #080A0B;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.skull-img {
    width: 300px;
    height: 500px;
    border: none;
    background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url('../assets/skull.png');
    background-position: center;
    background-size: cover;
}

.heading-footer {
    color: var(--main-color);
    padding-bottom: 150px;
}

.heading-footer h3 {
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
}

.heading-footer h1 {
    font-size: 65px;
    letter-spacing: 3px;
}

.heading-footer p {
    font-size: 16px;
    margin-bottom: 30px;
}

.form-floating  {
    display: none;
    background-color: rgb(61, 61, 61);
    width: 366px;
    height: 60px;
    border-radius: 5px;
}

.form-floating:hover {
    box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
}

.form-email {
    background-color: rgb(61, 61, 61);
    width: 366px;
    height: 60px;
    border-radius: 5px;
}

.form-email:hover {
    box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(255,181,72,1);
}

.form-email label {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
    margin: 2px;
}

.form-control {
    background-color: rgb(61, 61, 61);
    color: var(--scnd-color);
    border: none;
    font-size: 14px;
}

.menu-footer {
    flex-direction: row;
    font-size: 12px;
    color: var(--main-color);
    margin-left: auto;
}

.footer-item {
    margin: 18px;
}

.foot-item {
    align-items: center;
}

.foot-item a {
    margin: 3px;
    padding: 0 5px 0 0;
}

.fa-facebook-f:hover {
    color: rgb(28, 49, 186);
}

.fa-twitter:hover {
    color: rgb(35, 129, 230);
}

.fa-youtube:hover {
    color: red;
}

.fa-twitch:hover {
    color: rgb(145, 33, 179);
}

.footer-item a:hover {
    color: var(--scnd-color);
}

.foot-item a:hover {
    color: var(--scnd-color);
}

.privacy {
    color: grey;
}
